.show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: block;
  z-index: 200;
}

.modalMain {
  display: flex;
  flex-direction: column;
  border: none;
  position: fixed;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 500;
  width: 50%;
  height: 60%;
  min-width: 300px;
  min-height: 400px;
  background: linear-gradient(25deg, var(--dark) 0%, rgb(0, 0, 0) 100%);
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.closeButton {
  background-color: transparent;
  border: none;
  color: var(--light);
  &:focus {
    outline: none;
  }
  &:hover {
    color: white;
  }
}

.children {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0px 0px 10px 10px;
  color: white;
}
