@import "./resets.scss";
@import "./mixins.scss";

:root {
  --dark: #242424;
  --medium: #393e46;
  --light: #eeeeee;
  --blue: #0e49b5;
  background-color: black;
  font-family: "Roboto, Roboto Bold";
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.svg-inline--fa.fa-w-20 {
  width: 1.5rem;
}
.svg-inline--fa.fa-w-16 {
  width: 1.5rem;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.children {
  margin-top: 6.5rem;
  height: 100%;
}
