@import "./resets.scss";

:root {
  --dark: #222831;
  --medium: #393e46;
  --light: #eeeeee;
  --blue: #0e49b5;
  background-color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.svg-inline--fa.fa-w-20 {
  width: 1.5rem;
}
.svg-inline--fa.fa-w-16 {
  width: 1.5rem;
}
