.footer {
  background-color: var(--dark);
  margin-top: 1rem;
  color: white;
  height: 150px;
  padding: 1.5rem 2rem;
  background: linear-gradient(0deg, var(--dark) 0%, transparent 80%);
}
.pageInfo {
  display: flex;
  justify-content: space-between;
}
.contentWrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.logoContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.kinoIcon {
  position: absolute;
  left: 69px;
  top: 7px;
}

.kino {
  color: white;
  font-size: 40px;
  font-weight: 900;
  text-shadow: 0 0 5px white;
  letter-spacing: 5px;
}

.show {
  font-weight: lighter;
  color: #00b8ff;
  position: absolute;
  top: 32px;
  left: 75px;
  transform: rotate(345deg);
  font-family: sans-serif;
}

.contactWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.name {
  color: gray;
  margin-top: 1rem;
}

.tecnologies {
  display: flex;
  align-items: center;
}

.tmdb {
  background: url("../../../assets/tmdb.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 5em;
  height: 2em;
  margin-right: 1rem;
}

.react {
  &:hover {
    color: #65e0dc;
  }
}
.mail {
  &:hover {
    color: #00abe9;
  }
}
.linkedin {
  margin-right: 1rem;
  &:hover {
    color: #0a66c2;
  }
}
.github {
  margin-right: 1rem;
  &:hover {
    color: #ffa500;
  }
}
