@import "../../../styles/mixins.scss";

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  min-height: 70vh;
  @include media(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
  @include media(md) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media(xs) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  padding: 2rem;
}

.notFoundText {
  font-size: 24px;
  color: gray;
  text-align: center;
}
